@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary: #fff8f8;
  --secondary: #020202;
}

.hover-color:hover {
  filter: invert(0.5);
}
.background-white {
  background: var(--primary);
  color: var(--secondary);
}

.fill-primary {
  fill: var(--primary);
}
